pyyaml
logger
pandas
psutil
treelib
# for elastic_siem integration
requests
# For dev:
mock
pytest
# For IRIS
dfir_iris_client
# For Matrix integration
matrix_client

# IMPORTANT 
#if you want to use Wazuh indexer integration use the following package:
elasticsearch==7.13.4
# if you wnat to use the Elastic SIEM integration use the following package (uncomment the following line and comment the previous one):
# elasticsearch
